.signature-settings{
    max-height: 120px;
    overflow: hidden;
}
.signature-settings img {
    max-width: 100%;
}
.signature {
    border-top:1px solid #eee;
    font-size:90%;
    padding: 5px 15px;
    margin: 1px 0 0;
    color:#999;
    word-wrap: break-word;
    max-height: 120px;
    overflow: hidden;
}
.signature p {margin-bottom:0}
.signature img {
	max-width: 100%;
}
.signature-no-likes {
    border-top:1px solid #eee;
    font-size:90%;
    padding: 5px 15px;
    margin:1px 0 0;
    color:#999;
    word-wrap: break-word;
    max-height: 120px;
    overflow: hidden;
}
.signature-no-likes img {
	max-width: 100%;
}
